:root {
    --color1: #009EFF;
    --color2: #00E7FF;
    --background: #EDEDED;
    --font1: font-family: 'Courier New', Courier, monospace;
    --font2: font-family:'Times New Roman', Times, serif;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: var(--font1);
}

h1 {
    color: var(--color1);
    font-family: var(--font2);
    margin: 10px 0;
}

header {
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.buttons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

header>h1 {
    color: black;
}

button {
    background-color: var(--color2);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: var(--font2);
    overflow: hidden;
}
button>a {
    text-decoration: none;
    color: black;
}
button:hover{
    border: 2px solid var(--background);
}

main {
    width: 90vw;
    margin: 1em auto;
}

section {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    min-height: 200px;
    max-height: fit-content;
    min-width: fit-content;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.left {
    flex-grow: 2;
}

.right {
    flex-grow: 2;
    max-width: 500px;
}

.all {
    margin-top: 10px;
}

img {
    max-width: auto;
}

.storia{
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 33%;
}

td:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.icon {
    width: 40px;
    height: auto;
}

.qr {
    height: 70px;
    width: auto;
}

ul {
    text-align: left;
}

iframe {
    margin: 15px;
}

footer {
    background-color: black;
    color: white;
    font-size: small;
    padding: 20px;
    text-align: center;
}